
<div id=initializeGame class=container ng-hide=init>
    <h2>Initialize new game</h2>
    <div class=col-md-4>
        <span class=listblock>
        <label>Pick a player:</label>
        <select class=list ng-model=available size=5>
            <option ng-dblclick= addPlayer("add") ng-repeat="p in notpickedPlayers track by $index" value="{{ p }}">{{ p }}</option>   
        </select>
        </span>
    </div>
    <div class=col-md-4>
        <span id=buttonblock style="height: inherit">
                <button ng-click=addPlayer("add")>Add player to game</button>
                <button ng-click=addPlayer("remove")>Remove player from game</button>
        </span>
    </div>
    <div class=col-md-4>
        <span class=listblock>
    <label>Picked players:</label>
    <select class=list ng-model=picked size=5 >
            <option ng-dblclick= addPlayer("remove") ng-repeat="p in pickedPlayers track by $index" value="{{ p }}">{{ p }}</option>
    </select>
        </span>
    </div>
    <div class=col-md-4>
        <span class=listblock>
        <label>Pick a course:</label>
        <select class=list ng-model=pickedCourse>
            <option ng-repeat="c in courselist track by $index" value="{{ c }}">{{ c.nimi }}</option>   
        </select>
        </span>
    </div>
    <div class=col-md-4>
        <button ng-click=startGame()>Start the game</button>
    </div>
</div>
<div id=laskuri class=container ng-show=init>
    <h2>Scorecard</h2>
    <table ng-model=scores class="table table-bordered">
        <tr>
            <th class=scoreHeader> {{ course.name }} </th>
            <th class=scoreHeader ng-repeat="players in scoreCards track by $index">{{ players.name }}</th>
        </tr>
        <tr ng-repeat="courses in course.pars track by $index">
            <td>Course <strong>{{ $index + 1 }}</strong> <br> Par <strong>{{courses}}</strong> </td>
            <td ng-repeat="players in scoreCards track by $index"><span class=scoreField><div id=score>{{ players.scoreCard[$parent.$index] }} ( {{players.scoreCard[$parent.$index] - courses }} )</div>
            </span><span class=plusminusbar><img class=plusminus src="images/plus.png" ng-click="players.addScore(1, $parent.$index)">
            <img class=plusminus src="images/minus.png" ng-click="players.addScore(-1, $parent.$index)"></td></span>
        </tr>
        <tr>
            <td class=scoreHeader>Total: </td><td style="text-align: center; font-size: 160%" ng-repeat="players in scoreCards track by $index">{{ players.sum }} ({{course.total}}) {{players.sum - course.total}}</td>
        </tr>
        
        
    </table>
    <button ng-click="finishCourse()">Finish Course</button>
    
</div>
<div id=saveScores class=container ng-show=finished>
    <div style="text-align:center">
        <button ng-click="saveGame()">Save Scores</button>
    </div>
    
    
</div>

